<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/index.js"></script>
    <title>Express FrameWork</title>
</head>


<body>
    {{>header}}   
    
    <img src="images/pic1.jpeg" class = "aboutImage" alt="Abhishek">
    <a href= 'https://github.com/Abhishek-kumar09'><img src="images/GitHub_Logo.png" alt="Github" style="position: fixed;
        bottom: 60px; 
        left : 10px;          
        height: 3em;"></a>
    {{>footer}}
</body>
</html>