<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/index.js"></script>
    <title>Help</title>
</head>
<body>
    {{>header}}
    <p>Type The City in the search box</p>
    <p>and click on "Find Out" button</p>
    <p>Thats it! You will get your weather</p>
    {{>footer}}
</body>
</html>