<h1 class="main-title">W E A T H O U T</h1>
<h3>Checking The Weather Around You</h3>

<div class="Links">
    <a href="/">Weather</a>
    <a href="/help">Help</a>
    <a href="/about">About</a>
</div>
<h1>{{'title'}}</h1>